<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>profesionServlet</servlet-name>
        <servlet-class>controllers.profesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personalController</servlet-name>
        <servlet-class>controllers.personalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redController</servlet-name>
        <servlet-class>controllers.redController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profesionServlet</servlet-name>
        <url-pattern>/profesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personalController</servlet-name>
        <url-pattern>/personalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redController</servlet-name>
        <url-pattern>/redController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
